<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jacekmarchwicki.logsmanager">
    <application>
        <activity android:name=".internal.LogsActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".internal.LogsDetailsActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <provider
                android:name=".internal.LogsFileProvider"
                android:authorities="${applicationId}.LogsFileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/logsmanager_file_paths"/>
        </provider>
    </application>
</manifest>
